@model IntroducaoMVC.Models.Usuario

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Resultado Usuários";
}

<h2>Listar Dados Usuários</h2>

<fieldset>
    <legend>Usuário Cadastrado</legend>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Observacao)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Observacao)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Idade)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Senha)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.ConfirmarSenha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ConfirmarSenha)
    </div>
    <br />
    <p>@Html.ActionLink("Voltar", "Usuario")</p>

</fieldset>
